body{
    direction: rtl;
    background-color: rgb(245, 245, 245);
    margin: 0px
}
*{
    font-family: Tahoma, Arial, sans-serif
}
/*الريسبونسياف*/
.all{
    display: grid;
    grid-template-columns: 25% 75%;
}
/*معلوماتي الشخصية*/
.my-info{
    /*background-color: dodgerblue;*/
    background-image: linear-gradient(
        to bottom,
        dodgerblue,
        #1abc9c
        );
    padding: 5px;
    max-height: 99%;
    text-align: center;
    color:white

}
.my-img{
    width: 95%;
    padding: 2px;
    border: 2px solid gold;
    border-radius: 180px
}
h1 , h2 , h3 , h4 , h5 ,h6{
    font-weight: 150
}
.info{text-align: right;
    padding-right: 2px
}
/*التواصل*/
.imgsou{
    width:40px;
    padding: 1px;
    border-radius: 180px;
    text-align: center
}
.imgsou :hover{
    opacity: 0.8
}
.source{text-align: center;}
/*معلومات أخرى*/
.other-info{
    background-color: rgb(245,245,245);
    max-height: 99%;
    padding: 10px
}
img.imgsou.skill{
    border-radius: 0px
}
/*إنجازاتي في السوشال ميديا*/
.mws{
    text-decoration: none;
    color: rgb(68, 67, 67);
    transition: border-right 1s;
    font-weight:bold;
    padding: 1px;
}
.mws:hover{
    border-right: 8px solid rgb(149, 202, 255);
}
/*my project*/
.my-project{
    display: grid;
    max-width:900px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-template-rows: repeat(auto-fill,150px);
    gap: 5px;
    text-align: center;
}
.project{
    background-color: dodgerblue;
    padding: 4px;
    height: 130px;
    text-align: center;
    border:2px solid dodgerblue;
    border-radius: 5px;
    text-decoration: none
}
.iop{
    width: 100%;
    height: 100px;
    box-shadow: 0px -1px 0px 2px rgb(221, 221, 221);
}
.nop{
    padding: 0px;
    margin: 2px;
    color: white;
}
/*تناسق الصفحة*/
@media screen and (max-width: 400px) {
    .all{
      grid-template-columns: 100%;
    }
  }
/*التذييل*/
footer{
    background: white;
    width:100%;
    height: 25px;
    text-align: center;
    font-weight: bold;
}