/*style in generally*/
body{
    direction: rtl;
    background-color: rgb(245, 245, 245);
    padding: 0px
}
*{
    font-family: system-ui;
    position: relative
}
:root{
    --blue:#2f4b6e
}
a{
    color: rgb(116, 113, 113);
    text-decoration: none;
}
/*header*/
header{
    display: flex;
    justify-content: space-around;
    height: 45vh
}
.logo{
    width:275px;
    border:1px solid gold;
    border-radius:100%;
    box-shadow: 2px 5px 15px 0px grey;
    display: block;
    top:15px;
    margin-left: auto;
    margin-right: auto
}
/*My information*/
nav{
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
h2 , b{
    color:var(--blue)
}
h2{
    font-size: 35px;
    text-align:center;
    font-family: system-ui;
}
.iog{
    width: 75%;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 5px 15px 0px grey;
    border-radius: 10px;
    margin: 15px;
}
.skills{
    text-align: left;
}
label{
    display:block;
    font-weight:bold
}
progress{
    display:block;
    margin: 2px;
    width:100%;
    color: var(--blue);
    direction:initial
}
.lang{
    direction: rtl;
}
progress[value] {
    appearance: none;
    border-radius: 20px;
}
progress[value]::-webkit-progress-bar{
    background-color: white;
    height:5px;
    box-shadow: 0px 0px 7px 1px grey;
    border-radius: 2px;
    color: blue;
}
    /*my projects*/
.my-projects{
    display: grid;
    width:75%;
    margin-bottom:25px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-template-rows: repeat(auto-fill,150px);
    gap:20px;
    text-align:center
}
.project {
    background-color:white;
    padding:5px;
    height:130px;
    text-align:center;
    box-shadow:2px 5px 15px 0px grey;
    border-radius:5px;
    text-decoration:none
}
.iop {
    width: 100%;
    height: 100px;
    padding: 0px 0px 2px;
    box-shadow: 0px 1px 0px 0px rgb(94 89 89);
    border-radius:4px 4px 0px 0px;
}
.iopm {
    width: 100px;
    height: 95px;
    top: 0px;
    padding: 5px;
}
.bm{
    width: 100%;
    height:100px;
    box-shadow: 0px 1px 2px 1px rgb(94 89 89);
}
.nop {
    padding: 0px;
    margin: 2px;
    color: var(--blue);
}
/*footer ( down button )*/
footer{
    bottom: 100vh;
    width:30px;
    padding: 15px;
    background-color: white;
    box-shadow: 1px 12px 20px 1px grey;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.contact{
    width:25px;
    padding:5px;
    display:block;
}
/*responsive*/
@media screen and (max-width: 600px) {
    .presentation{
        grid-template-columns:auto;
    }
}